html
{
    background-color: #f0e7fc;
    color:#25054f;
}
header
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items:center;
    padding:0 10px 0 10px;
}
a
{
    text-decoration: none;
}
.footer
{
    display: flex;
    justify-content: center;
}
div
{
    display:flex;

}
.sort
{
    justify-content: left;
    font-weight: bold;
    font-size: 25px;
    margin-left: 20px;
}
form > select
{
    background-color: #baa9d1;
    color:#25054f;
}
.sel1
{
    display:block;
    width: 250px;
    height: 30px;
    margin-top: 20px;
}
.sinema
{
    margin:2% 15% 2% 15%; 
    padding: 2% 0 2% 0;
    border-radius: 20px 20px 20px 20px;
    justify-content: center;
    flex-direction:row;
    background-color: #a089bd;
}
.info
{
    display: flex;
    flex-direction: column;
    margin: 0 0 0 2%;
}
.sinema > table
{
    display:flex;
}
.img
{
    display: flex;
}
.margin > p
{
    margin: 0 10% 0 0;
}
.margin > td
{
    display: flex;
    width: 150px;
}
.margin
{
    display: flex;
    flex-direction: row;
}
.bol
{
    width: 50px; 
    height: 50px; 
    border-radius: 50%;
}
.pagination :hover
{
    background-color: #a089bd;
    border-radius: 5px;
}
.pagination
{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.pagination > p
{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #25054f;
}